body {
    font-family: 'Roboto', sans-serif;
} 

header {
    background-color: #EAC926;
    
}

header p {
    text-align: center;
}

header nav ul li a {
    font-size: 12px;
    text-decoration: none;
    color: #000;
}

header nav ul li {
    list-style-type: none;
}



header .buscador .input {
    background-color: #fff;
    border: 1px solid #000;
    color: #666;
} 

header .buscador .lupa i{
    background-color: #fff;
    font-size: 50px;
    border: 1px solid #000;
    color: #666;
} 

header div.burger-menu i {
    color: #fff;
    background-color: #1259c3;
    font-size: 70px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    border-radius: 10px;
}

header div.burger-menu {
    text-align: center;
}

footer {
    text-align: center;
    color:#666
}

footer div.icon i{
 
  font-size: 2em;
    margin-bottom: 10px;
    color: blue;
}
strong{
    font-size: 12px;
    text-align: left;
}