body {
    font-family: 'Roboto', sans-serif;
} 

header {
    background-color: #EAC926;
    
}

header p {
    text-align: center;
}

header nav {
    display: none;
}

header nav ul li a {
    font-size: 12px;
    text-decoration: none;
    color: #000;
}

header nav ul li {
    list-style-type: none;
}

header nav ul {
    margin-bottom: 0;
}



header .buscador .input {
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
} 

header .buscador .lupa i{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
} 

header div.burger-menu i {
    color: #FFF;
    background-color: #1259c3;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    border-radius: 5px;
}

header div.burger-menu {
    text-align: center;
}

header {
    width: 100vw;
}

.banner-img {
    width: 100vw;
}

main {
    text-align: center;
    width: 90vw;
}

main section article {
    margin-bottom: 10px;
}

.info-article {
    border-top: solid 1px #ebebeb;
    padding: 15px;
}

main section article div div i {
    width: 30px;
    height: 30px;
    border: solid 1px #39b54a;
    border-radius: 100%;
    color:#39b54a;
    padding-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
}

.desc.prod {
    display: none;
}

@media (min-width: 361px) {
    .desc-prod {
        display: block;
    }
    main section article {
        box-shadow: 0px 0px 10px #666;
    }
    header nav {
        display: block
    }
    header div.burger-menu {
        display: none;
    }
}

@media (min-width: 769px) {
       
    
}




main {
    text-align: center;
    width: 90vw;
}



footer {
    text-align: center;
    color:#666
}

footer div.icon i{
 
  font-size: 2em;
    margin-bottom: 10px;
    color: blue;
}
strong{
    font-size: 12px;
    text-align: left;
}
