*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
} 

header {
    background-color: #EAC926;
    
}

.top-header {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

.logo {
    width: 50%;
    padding: 10px;
}

.img.logo {
    width: 50%;
}

.buscador {
    width: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
}

header p {
    text-align: center;
}

header nav {
    display: none;
}

header nav ul li a {
    font-size: 12px;
    text-decoration: none;
    color: #000;
}

header nav ul li {
    list-style-type: none;
}

header nav ul {
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 150%;
}

  


header .buscador .input {
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
} 

header .buscador .lupa i{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
} 

header div.burger-menu i {
    color: #FFF;
    background-color: #1259c3;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    border-radius: 5px;
}

header div.burger-menu {
    text-align: center;
}

header {
    width: 100vw;
}

.banner-img {
    width: 100vw;
}

main {
    margin: 0 auto;
    width: 90vw;
}

article {
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: content-box;
    transition: all 0.3s;
}

main section article {
    margin-bottom: 10px;
}

main section article img {
    width: 100%;
}

.info-article {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    position: relative;
    display: flex;
    flex-wrap:wrap;
    width: 100%;
}

.precio {
    width: 30%;
}

.descuento {
    width: 70%;
}

main section article div i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: all 0.3s;
}


.desc-prod {
    display: none;
    transition: all 0.3s;
}

#formulario-registro {
    background-color: #ebebeb;
}

.formularios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;

}

form div {
    margin-bottom: 10px;
    border-radius: 5%;
    width: 100%
}

.text-field {
    padding: 5px;
}

.selecciones {
    display: flex;
    flex-direction: column;
}


.botonForm {
    width: 40%
}

.botonLogin {
    background-color:  blue;
    color: #FFF;
}

.loginar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
     }

.botonSubmit {
    background-color: green;
    color: #FFF;
}

.botonReset {
    background-color: red;
    color:#FFF
}

@media (min-width: 361px) {
    .productos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .desc-prod {
        display: block;
    }
    main section article {
        width: 45%;
    }
    header nav {
        display: flex;
        justify-content: space-between;
    }
    header div.burger-menu {
        display: none;
    }
}

@media (min-width: 769px) {
       main section article {
        width: 22.5%;
       }
    header nav ul li a {
        font-size: 18px;
        }
    .desc-prod {
        display: none;
    }
    article:hover {
        box-shadow: 0px 0px 10px rgb(100,100,100);   
    }
    article:hover i {
        transform: rotate(-90deg);
}



footer {
    text-align: center;
    color:#666
}

footer div.icon i{
 
  font-size: 2em;
    margin-bottom: 10px;
    color: blue;
}
strong{
    font-size: 12px;
    text-align: left;
}
